
/* Config geral */

header img{
    float: left;
    margin: 10px;
    width: 100px;
}


body{
	color: black;
	background-color: white;
	height: 70vh;
	margin-right: none;
}

header {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

header h1{
	text-transform: uppercase;
	display: flex;
	justify-content: center;
}

.container{
	width: 40%;
	text-align: center;
	margin-top: 17vh;
}

.container fieldset{
	width: 70%;
}

.container .esqueceusenha{
	text-align: center;
  	margin: 5%;
}


.login{
	width: 600px;
	margin: 100px auto;
	margin-bottom: 20px;
}

.login button{
	width: 20%;
	margin: 0 40%;
	background-color: blue;
	font-size: 16px;
	border: medium;
}


footer{
	text-align: center;
	background-color: #0a0a0a;
	color: white;
}