@charset "UTF-8";

/* Config geral */

header img{
    float: left;
    margin: 10px;
    width: 100px;
}


body{
	color: black;
	background-color: white;
}
header {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
header h1{
	text-transform: uppercase;
	display: flex;
	justify-content: center;
}
.container{
	width: 40%;
	text-align: center;
}

.container fieldset{
	width: 100%;
}

.container .esqueceusenha{
	text-align: center;
  	margin: 5%;
}

.container h1{
	margin-top: 10%;
}

.container h2{
	text-align: center;
}

.login{
	width: 600px;
	margin: 100px auto;
	margin-bottom: 20px;
}

.login button{
	width: 20%;
	margin: 0 40%;
	background-color: blue;
	font-size: 16px;
	border: medium;
}

.login esqueceusenha{
	color: #ff0000;	
}


